{% extends 'clientside/base.html' %}
{% load static %}
{% block body %}



<div class="page-content mb-10 pb-2">
    <div class="container">
   
        <section class="mb-6 product-carousel">
            <h2 class="title title-center mb-5">Top Rated</h2>
            <div class="owl-carousel owl-theme row cols-lg-4 cols-md-3 cols-sm-2 cols-2" data-owl-options="{
                    'items': 5,
                    'nav': true,
                    'dots': false,
                    'margin': 20,                                
                    'responsive': {
                        '0': {
                            'nav': false,
                            'items': 2
                        },
                        '768': {
                            'nav': false,
                            'items': 3
                        },
                        '992': {
                            'nav': false,
                            'items': 4
                        },
                        '1200': {
                            'items': 4
                        }
                    }
                }">

                {% for item in itemObj %}
                <div class="product product-simple">
                    <figure class="product-media">
                        <a href="/productview/{{item.id}}">
                            <img src="{{item.productimg.url}}" alt="Product" width="295"
                                height="335" />
                        </a>
                     
                        <div class="product-action-vertical">
                            <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                title="Compare"></a>
                        </div>
                        <div class="product-action">
                            <a href="/productview/{{item.id}}" class="btn-product btn-quickview" title="Quick View">Quick
                                View</a>
                        </div>
                    </figure>
                    <div class="product-details">
                        <a href="#" class="btn-wishlist w-icon-heart" title="Add to wishlist"></a>
                        <div class="product-cat">
                          {{item.Category_Id}}
                        </div>
                        <h4 class="product-name"><a href="product-default.html">{{item.Items_Name}}</a></h4>
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width: 100%;"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="product-default.html" class="rating-reviews">(3 reviews)</a>
                        </div>
                        <div class="product-pa-wrapper">
                            <div class="product-price">
                                <ins class="new-price">${{item.Price}}</ins>
                            </div>
                           
                        </div>
                    </div>
                </div>


                {% endfor %}


              


             

                
            </div>
        </section>

      

      
        <section class="product-list-section">
            <h2 class="title title-center mb-5">Recommended Products</h2>
            <div class="row">
                <div class="col-lg-9 mb-5">
                    <div class="row cols-lg-1 cols-md-1 cols-sm-1">
                        <div class="product product-list">
                            <figure class="product-media">
                                <a href="product-default.html">
                                    <img src="{% static '' %}client/assets/images/products/elements/2.jpg" alt="Product"
                                        width="330" height="338" />
                                </a>
                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                                        title="Quick View"></a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-name">
                                    <a href="product-default.html">Summer Sport Shoes</a>
                                </h4>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width: 100%;"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a href="#" class="rating-reviews">(3 Reviews)</a>
                                </div>
                                <div class="product-price">$86.00</div>
                                <ul class="product-desc">
                                    <li>Ultrices eros in cursus turpis massa cursus mattis.</li>
                               
                                </ul>
                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart" title="Add to Cart"><i
                                            class="w-icon-cart"></i> Add To Cart</a>
                                    <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                        title="Add to wishlist"></a>
                                    <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                        title="Compare"></a>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
           
            </div>
        </section>

      
        <!-- End of Element Section -->
    </div>
</div>
{% endblock body %}