{% extends 'clientside/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}



    <div class="page-content">
                <div class="container">
                    <div class="row gutter-lg">
                        <div class="main-content">
                            <div class="product product-single row">
                                <div class="col-md-6 mb-6">
                                    <div class="product-gallery product-gallery-sticky">
                                        <div
                                            class="product-single-carousel owl-carousel owl-theme owl-nav-inner row cols-1 gutter-no">
                                            <figure class="product-image">
                                                <img src="{{itemObj.productimg.url}}"
                                                    data-zoom-image="{{itemObj.productimg.url}}"
                                                    alt="Electronics Black Wrist Watch" width="800" height="900">
                                            </figure>
                                        
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 mb-md-6">
                                    <div class="product-details" data-sticky-options="{'minWidth': 767}">
                                        <h2 class="product-title">{{itemObj.Items_Name}}</h2>
                                        <div class="product-bm-wrapper">
                                            
                                            <div class="product-meta">
                                                <div class="product-categories">
                                                    Category:
                                                    <span class="product-category"><a href="#">Electronics</a></span>
                                                </div>
                                             
                                            </div>
                                        </div>

                                        <hr class="product-divider">

                                        <div class="product-price"><ins class="new-price">{{itemObj.Price|intcomma}}</ins></div>

                                        <div class="ratings-container">
                                            <div class="ratings-full">
                                                <span class="ratings" style="width: 80%;"></span>
                                                <span class="tooltiptext tooltip-top"></span>
                                            </div>
                                            <a href="#product-tab-reviews" class="rating-reviews scroll-to">(3
                                                Reviews)</a>
                                        </div>

                                        <div class="product-short-desc">
                                            
                                            <p style="text-align:justify;">{{itemObj.Description}}</p>
                                        </div>

                                        <hr class="product-divider">

                                     
                                       

                                        <div class="product-variation-price">
                                            <span></span>
                                        </div>

                                        <div class="fix-bottom product-sticky-content sticky-content">
                                            <div class="product-form container">
                                                <div class="product-qty-form">
                                                    <div class="input-group">
                                                        <input class="quantity form-control" type="number" 
                                                           value="1" id="quantity">
                                                        <button class="w-icon-plus" onclick="plus()"></button>
                                                        <button class="w-icon-minus" onclick="minus()"></button>
                                                    </div>
                                                </div>

                                            {% if itemObj.Stock > 0 %}
                                            

                                                <button type="button" class="btn btn-primary btn-cart" onclick="checkout()">
                                                    <i class="w-icon-cart"></i>
                                                    <span>Checkout</span>
                                                </button>


                                    
                                            </div>
                                            
                                            
                                            {% else %}

                                            <button class="btn btn-secondary btn-cart">
                                               
                                                <span>Out Of Stock</span>
                                            </button>

                                            {% endif %}
                                        </div>

                                        <div class="social-links-wrapper">
                                            <div class="social-links">
                                                <div class="social-icons social-no-color border-thin">
                                                    <a href="#" class="social-icon social-facebook w-icon-facebook"></a>
                                                    <a href="#" class="social-icon social-twitter w-icon-twitter"></a>
                                                    <a href="#"
                                                        class="social-icon social-pinterest fab fa-pinterest-p"></a>
                                                    <a href="#" class="social-icon social-whatsapp fab fa-whatsapp"></a>
                                                    <a href="#"
                                                        class="social-icon social-youtube fab fa-linkedin-in"></a>
                                                </div>
                                            </div>
                                            <span class="divider d-xs-show"></span>
                                            <div class="product-link-wrapper d-flex">
                                                <a href="#"
                                                    class="btn-product-icon btn-wishlist w-icon-heart"><span></span></a>
                                                <a href="#"
                                                    class="btn-product-icon btn-compare btn-icon-left w-icon-compare"><span></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>

<script>

    function plus(){

       

        if (document.getElementById('quantity').value < '{{itemObj.Stock}}'){


            document.getElementById('quantity').value = Number(document.getElementById('quantity').value) + 1
        }

    }


    function minus(){ 
        if (document.getElementById('quantity').value > 0){


            document.getElementById('quantity').value = Number(document.getElementById('quantity').value)  - 1
        }
}

function checkout(){


    quantity = document.getElementById('quantity').value
    window.location.href = `/checkout/{{itemObj.id}}/${quantity}`
}
</script>
{% endblock body %}