@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
*{
    margin:0;
    padding:0;
}

.header{
    background:linear-gradient(rgba(51, 51, 51, 0.425),rgba(51, 51, 51, 0.521)), url('../images/back2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    font-family: 'RocknRoll One', sans-serif;
}
.gift-icon{
    font-size:33px;
    padding:0;
    margin-top:-10px;
    
}
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgb(0 0 0 / 10%);
    position: fixed;
    /* top: 29px; */
    width: 100%;
    z-index: 8;
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
    .navbar .nav-link:hover,
    .navbar .nav-link:focus {
        color: #333;
        text-decoration: none;
    }
    .sologan{
        display: none;
    }
    .search-input{
      
        width: 100% !important;
 
    }
    .search-btn{
      
        border-radius:0;
        padding: 20px 10px !important;
       
        
     
    }
    
    .my-button button{
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
       
      
        padding: 20px 10px !important;
      
    }
    .my-button{
        margin-top:20px;
        margin-left:120px !important;
    }

}




/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
    font-size: 0.9rem !important;
}
.searbox{
  
    color:#333;
    background-color:#fff;
    padding:10px;
    box-shadow: -3px 6px 14px 0px rgba(0,0,0,0.75);
    /* margin: 0 auto; */
    border-radius: 10px;
}
.search-title{
    color:#f36d00;
    font-size:48px;
    font-weight: 600;
}
.search-p{
    color:#5e6b77;
    font-size:20px;
    line-height: 28px;
    font-weight: 400;
}
.search-input{
    box-sizing: border-box;
    padding: 28px 16px 8px 8px;
    width: 100%;
    font-weight: 100;
    padding: 30px 0;
    line-height: 30px;
    font-size: 13px;
}
.search-btn{
    background-color: #f36d00;
    color:#fff;
    font-weight: 600;
    padding: 0 33px;
    border-top-left-radius: 18px !important;
    border-bottom-left-radius: 18px !important;
    border-top-right-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
    
 
}

.btn-green{
    border-top-right-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
    background-color: #20cc02;
    color:#fff;
    font-weight: 600;
    padding: 0 33px;
    border-radius: 18px;
}
.promo{
    margin-top:100px;
    color:#2a3846;
    font-family:  sans-serif;
    text-align: center;
}
.promo-title{
    font-size: 32px;
    font-weight: 600;
}
.promo-p{
    font-size:14px;
    font-weight: 100;
    padding:10px 0;
}
.promo-right{
    padding-top: 108px;
    
}
.promo-btn{
    height:40px;
    cursor: pointer;
}

/* custom card star */
.custom-card{
    margin-top:30px;
    box-shadow: 0px 12px 40px -14px rgba(51,51,51,0.75);
    border-bottom-left-radius:  30px;
    border-bottom-right-radius:  30px;
  

}
.custom-card  .card-footer{
  
    text-align: center;
    color: #fff;
    border-bottom-left-radius:  30px;
    border-bottom-right-radius:  30px;
        padding: 5px;
    margin: 0;
}
.card-1{
    background-image: linear-gradient(to right top, #6cc210, #6fbf19, #71bc20, #73b926, #75b62b);
}
.card-2{
    background-image: linear-gradient(to right top, #b05c02, #bf6b15, #cf7b24, #de8a31, #ee9a3f);
}
.custom-card img{
    width:100%;
    height:230px;
}
.custom-card a{
    text-decoration: none;
    color:#fff;
}
.custom-card> a:hover{
    text-decoration: none;
}
.card-footer h5{
    font-weight: 700;
    font-size: 24px;
}
.card-1:hover{
    background-image: linear-gradient(to right top, #06b935, #06c237, #07cb3a, #08d53c, #09de3e);   
}
.card-2:hover{
    background-image: linear-gradient(to right top, #7e460a, #8b4d09, #995308, #a75a07, #b56106); 
}
  
/* custom card end */
/* ads start */
.ads img{
    width:100%;
    height:116px;
}
.ads{
    margin-top:30px;
}
/* ads end */
/* view prodcut home page start */
.viewall{
    font-size:30px;
}
.viewall>span{
    font-size:18px;
    margin-left:20px;
}
.viewall >span>a{
    color:#06b935;
}

/* view prodcut home page end */
/* foter start */
.page-footer{
    background-image: linear-gradient(to right top, #090803, #090803, #090803, #090803, #090803);
    color:#fff;
}
.list-unstyled a{
    text-decoration: none;
    color:#fff;
}
.svgs{
    
    margin-top:100px;
    display: block;
    padding: 0;
    margin: 0;
    

}
.logo{
    height: 78px;
    width: 125px;
    margin-top: -20px;
    padding: 0;
}
.logo-bottom{
    width: 141px;
    height: 79px;
    margin-top: -148px;
}
/* foter end */
.register-form{
    margin-top: 80px;
}
.c-footer{
    background: #74B827;
    color: #060606;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding: 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.my-card-r{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sologan{
    padding: 39px 56px;
    /* width: 300px; */
    border: 2px solid #F36D00;
    background: #F36D00;
    border-radius:35% 65% 19% 81% / 58% 36% 64% 42% ;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    top: 153px;
    left: 64px;
}
.custom-card{
    border-radius:50px;
}
.card-img{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100px;
    height:260px;
}
.c-body{
    padding: 0 20px;
    margin-top: -35px;
}
.card-logo{
    background: #fff;
    width: 70px !important;
    height: 67px !important;
    border-radius: 50%;
    position: relative;
    bottom: 41px;
    left: 40%;
    border: 2px solid #333;
    z-index: 0;
}
.tag{
    position: relative;
   
    background: #6cc210cc;
    color: #fff;
    padding: 2px;
    float: right;
    bottom: 98px;
}
.l-tag{
    color: #6cc210cc;
    font-weight: bold;
}
.btn-white{
    background: #fff;
    color: #000 !important;
    font-weight: 500;
}






















/* mult form start */
@charset "UTF-8";
/*font Variables*/
/*Color Variables*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,700,900");
.multi_step_form {
  background: #f6f9fb;
  display: block;
  overflow: hidden;
}
.multi_step_form #msform {
  text-align: center;
  position: relative;
  padding-top: 50px;
   min-height: 920px;
  /* max-width: 810px;  */
  margin: 0 auto;
  background: #ffffff;
  z-index: 1;
}
.multi_step_form #msform .tittle {
  text-align: center;
  padding-bottom: 55px;
}
.multi_step_form #msform .tittle h2 {
  font: 500 24px/35px "Roboto", sans-serif;
  color: #3f4553;
  padding-bottom: 5px;
}
.multi_step_form #msform .tittle p {
  font: 400 16px/28px "Roboto", sans-serif;
  color: #5f6771;
}
.multi_step_form #msform fieldset {
  border: 0;
  padding: 20px 105px 0;
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}
.multi_step_form #msform fieldset:not(:first-of-type) {
  display: none;
}
.multi_step_form #msform fieldset h3 {
  font: 500 18px/35px "Roboto", sans-serif;
  color: #3f4553;
}
.multi_step_form #msform fieldset h6 {
  font: 400 15px/28px "Roboto", sans-serif;
  color: #5f6771;
  padding-bottom: 30px;
}
.multi_step_form #msform fieldset .intl-tel-input {
  display: block;
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
}
.multi_step_form #msform fieldset .intl-tel-input .flag-container .selected-flag {
  padding: 0 20px;
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
  width: 65px;
}
.multi_step_form #msform fieldset .intl-tel-input .flag-container .selected-flag .iti-arrow {
  border: 0;
}
.multi_step_form #msform fieldset .intl-tel-input .flag-container .selected-flag .iti-arrow:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  font: normal normal normal 24px/7px Ionicons;
  color: #5f6771;
}
.multi_step_form #msform fieldset #phone {
  padding-left: 80px;
}
.multi_step_form #msform fieldset .form-group {
  padding: 0 10px;
}
.multi_step_form #msform fieldset .fg_2,
.multi_step_form #msform fieldset .fg_3 {
  padding-top: 10px;
  display: block;
  overflow: hidden;
}
.multi_step_form #msform fieldset .fg_3 {
  padding-bottom: 70px;
}
.multi_step_form #msform fieldset .form-control,
.multi_step_form #msform fieldset .product_select {
  border-radius: 3px;
  border: 1px solid #d8e1e7;
  padding: 0 20px;
  height: auto;
  font: 400 15px/48px "Roboto", sans-serif;
  color: #5f6771;
  box-shadow: none;
  outline: none;
  width: 100%;
}
.multi_step_form #msform fieldset .form-control.placeholder,
.multi_step_form #msform fieldset .product_select.placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control:-moz-placeholder,
.multi_step_form #msform fieldset .product_select:-moz-placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control::-moz-placeholder,
.multi_step_form #msform fieldset .product_select::-moz-placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control::-webkit-input-placeholder,
.multi_step_form #msform fieldset .product_select::-webkit-input-placeholder {
  color: #5f6771;
}
.multi_step_form #msform fieldset .form-control:hover, .multi_step_form #msform fieldset .form-control:focus,
.multi_step_form #msform fieldset .product_select:hover,
.multi_step_form #msform fieldset .product_select:focus {
  border-color: #F36D00;;
}
.multi_step_form #msform fieldset .form-control:focus.placeholder,
.multi_step_form #msform fieldset .product_select:focus.placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .form-control:focus:-moz-placeholder,
.multi_step_form #msform fieldset .product_select:focus:-moz-placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .form-control:focus::-moz-placeholder,
.multi_step_form #msform fieldset .product_select:focus::-moz-placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .form-control:focus::-webkit-input-placeholder,
.multi_step_form #msform fieldset .product_select:focus::-webkit-input-placeholder {
  color: transparent;
}
.multi_step_form #msform fieldset .product_select:after {
  display: none;
}
.multi_step_form #msform fieldset .product_select:before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  font: normal normal normal 24px/48px Ionicons;
  color: #5f6771;
}
.multi_step_form #msform fieldset .product_select .list {
  width: 100%;
}
.multi_step_form #msform fieldset .done_text {
  padding-top: 40px;
}
.multi_step_form #msform fieldset .done_text .don_icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 22px;
  margin-bottom: 10px;
  background: #F36D00;;
  display: inline-block;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
}
.multi_step_form #msform fieldset .done_text h6 {
  line-height: 23px;
}
.multi_step_form #msform fieldset .code_group {
  margin-bottom: 60px;
}
.multi_step_form #msform fieldset .code_group .form-control {
  border: 0;
  border-bottom: 1px solid #a1a7ac;
  border-radius: 0;
  display: inline-block;
  width: 30px;
  font-size: 30px;
  color: #5f6771;
  padding: 0;
  margin-right: 7px;
  text-align: center;
  line-height: 1;
}
.multi_step_form #msform fieldset .passport {
  margin-top: -10px;
  padding-bottom: 30px;
  position: relative;
}
.multi_step_form #msform fieldset .passport .don_icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 22px;
  position: absolute;
  top: 4px;
  right: 0;
  background: #F36D00;;
  display: inline-block;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
}
.multi_step_form #msform fieldset .passport h4 {
  font: 500 15px/23px "Roboto", sans-serif;
  color: #5f6771;
  padding: 0;
}
.multi_step_form #msform fieldset .input-group {
  padding-bottom: 40px;
}
.multi_step_form #msform fieldset .input-group .custom-file {
  width: 100%;
  height: auto;
}
.multi_step_form #msform fieldset .input-group .custom-file .custom-file-label {
  width: 168px;
  border-radius: 5px;
  cursor: pointer;
  font: 700 14px/40px "Roboto", sans-serif;
  border: 1px solid #99a2a8;
  text-align: center;
  transition: all 300ms linear 0s;
  color: #5f6771;
}
.multi_step_form #msform fieldset .input-group .custom-file .custom-file-label i {
  font-size: 20px;
  padding-right: 10px;
}
.multi_step_form #msform fieldset .input-group .custom-file .custom-file-label:hover, .multi_step_form #msform fieldset .input-group .custom-file .custom-file-label:focus {
  background: #F36D00;;
  border-color: #F36D00;;
  color: #fff;
}
.multi_step_form #msform fieldset .input-group .custom-file input {
  display: none;
}
.multi_step_form #msform fieldset .file_added {
  text-align: left;
  padding-left: 190px;
  padding-bottom: 60px;
}
.multi_step_form #msform fieldset .file_added li {
  font: 400 15px/28px "Roboto", sans-serif;
  color: #5f6771;
}
.multi_step_form #msform fieldset .file_added li a {
  color: #F36D00;;
  font-weight: 500;
  display: inline-block;
  position: relative;
  padding-left: 15px;
}
.multi_step_form #msform fieldset .file_added li a i {
  font-size: 22px;
  padding-right: 8px;
  position: absolute;
  left: 0;
  transform: rotate(20deg);
}
.multi_step_form #msform #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
}
.multi_step_form #msform #progressbar li {
  list-style-type: none;
  color: #99a2a8;
  font-size: 9px;
  width: calc(100% / 5);
  float: left;
  position: relative;
  font: 500 13px/1 "Roboto", sans-serif;
}
.multi_step_form #msform #progressbar li:nth-child(2):before {
  content: "";
}
.multi_step_form #msform #progressbar li:nth-child(3):before {
  content: "";
}
.multi_step_form #msform #progressbar li:before {
  content: "";
  font: normal normal normal 30px/50px Ionicons;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  background: #eaf0f4;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}
.multi_step_form #msform #progressbar li:after {
  content: "";
  width: 100%;
  height: 10px;
  background: #eaf0f4;
  position: absolute;
  left: -50%;
  top: 21px;
  z-index: -1;
}
.multi_step_form #msform #progressbar li:last-child:after {
  width: 150%;
}
.multi_step_form #msform #progressbar li.active {
  color: #F36D00;;
}
.multi_step_form #msform #progressbar li.active:before, .multi_step_form #msform #progressbar li.active:after {
  background: #F36D00;;
  color: white;
}
.multi_step_form #msform .action-button {
  background: #F36D00;;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 130px;
  font: 700 14px/40px "Roboto", sans-serif;
  border: 1px solid #F36D00;;
  margin: 0 5px;
  text-transform: uppercase;
  display: inline-block;
}
.multi_step_form #msform .action-button:hover, .multi_step_form #msform .action-button:focus {
  background: #405867;
  border-color: #405867;
}
.multi_step_form #msform .previous_button {
  background: transparent;
  color: #99a2a8;
  border-color: #99a2a8;
}
.multi_step_form #msform .previous_button:hover, .multi_step_form #msform .previous_button:focus {
  background: #405867;
  border-color: #405867;
  color: #fff;
}

/* mult form end */


/* document with preivew Code start */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url("https://fonts.googleapis.com/css?family=Raleway");


.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.box {
  display: block;
  min-width: 280px;
  height: 300px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.upload-options {
  position: relative;
  height: 75px;
  background-color: #F36D00;;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
}
.upload-options:hover {
  background-color: #F36D00;;
}
.upload-options input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-options label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  font-size:13px;
}
.upload-options label::after {
  content: "Upload";
  padding-top:30px;
  font-family: "Material Icons";
  position: absolute;
  font-size:18px;
  color: #e6e6e6;
  text-align: center;
  top: calc(50% - 2.5rem);
  left: calc(50% - 1.25rem);
  z-index: 0;
}
.upload-options label span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.upload-options label span:hover i.material-icons {
  color: lightgray;
}

.js--image-preview {
  height: 225px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("https://pics.freeicons.io/uploads/icons/png/17409946451553073813-512.png");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.js--image-preview::after {
  content: "";
  font-family: "Material Icons";
  position: relative;
  font-size: 4.5em;
  color: #333;
  top: calc(50% - 3rem);
  left: calc(50% - 2.25rem);
  z-index: 0;
}
.js--image-preview.js--no-default::after {
  display: none;
}
.js--image-preview:nth-child(2) {
  background-image: url("http://bastianandre.at/giphy.gif");
}

i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: rgba(95, 158, 160, 0.2);
  border-radius: 100%;
  transform: scale(0);
}

.animate {
  -webkit-animation: ripple 0.4s linear;
          animation: ripple 0.4s linear;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
/* document with preivew Code end */