{% extends 'superadmin/base.html' %}
{% load static %}
{% block body %}
<main>
    <div class="container-fluid">
        <h2 class="mt-30 page-title">Dashboard</h2>
        <ol class="breadcrumb mb-30">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="dashboard-report-card purple">
                    <div class="card-content">
                        <span class="card-title">Cateogory</span>
                        <span class="card-count">{{categoeyCount}}</span>
                    </div>
                    <div class="card-media">
                        <i class="fab fa-rev"></i>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="dashboard-report-card red">
                    <div class="card-content">
                        <span class="card-title">Items</span>
                        <span class="card-count">{{itemCount}}</span>
                    </div>
                    <div class="card-media">
                        <i class="far fa-times-circle"></i>
                    </div>
                </div>
            </div>
            
          

        </div>
    </div>
</main>
{% endblock body %}