{% load static %}
{% include 'superadmin/header.html' %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header card-sign-header">
                        <h3 class="text-center font-weight-light my-4">Login</h3>
                    </div>
                    <div class="card-body">
                        <form action="/superadminlogin" method="post">
                        {% csrf_token %}
                            <div class="form-group">
                                <label class="form-label" for="inputEmailAddress">Email*</label>
                                <input required class="form-control py-3" id="inputEmailAddress" type="email"
                                    placeholder="Enter email address" name="email">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="inputPassword">Password*</label>
                            <input required class="form-control py-3" id="inputPassword" type="password"
                                    placeholder="Enter password" name="password">
                            </div>
                            <!-- <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                    <label class="custom-control-label" for="rememberPasswordCheck">Remember
                                        password</label>
                                </div>
                            </div> -->
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <button class="btn btn-sign hover-btn">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
</div>
<script src="{% static '' %}assets/js/jquery-3.4.1.min.js"></script>
<script src="{% static '' %}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{% static '' %}assets/js/scripts.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>

    if('{{status}}'){

        Swal.fire(
            'Invalid Credential',
            'Your Email or Password is Wrong',
            
        )

    }
    
</script>
</body>


</html>